PORT=3004
API_INTERNAL_URL=http://localhost:3002
SITE_URL=http://localhost:3000
TELEGRAM_LINK_SERVICE_TOKEN=
TELEGRAM_MINI_APP_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEB_APP_URL=http://localhost:3000
