{$EDGE_PROXY_DOMAIN} {
	handle /content-assistant/telegram/* {
		reverse_proxy https://api.artmate.ru {
			header_up Host api.artmate.ru
		}
	}

	handle /telegram/* {
		reverse_proxy https://tg.artmate.ru {
			header_up Host tg.artmate.ru
		}
	}

	reverse_proxy edge-proxy:3004
}
